<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact Information Details</h1>
    <ul>
      <li>
        First Name: <%= @contact.first_name %><br/>
      </li>
      <li>
        Last Name: <%= @contact.last_name %><br/>
      </li>
      <li>
        Email: <%= @contact.email %><br/>
      </li>  
      <li>
        Phone Number: <%= @contact.phone_number %><br/>
      </li>  
      <li>  
        Message: <%= @contact.message %>
      </li>
    </ul>
  </body>
</html>